html {
    background-color: white;
    height:50%;
    width: 100%;
}
.cover {
    background-image: url(https://freedesignfile.com/upload/2017/01/Light-blue-tech-background-vector-04.jpg);
    background-size: cover;
}
.fingerprint {
    background-image: url(blue-gear-circuit-board-and-arrows-tech-background-video-animation-hd-1920x1080_4j1mr68gx__F0009.png);
    background-size: cover;
}
.voice {
    background-image: url(light-grey-gear-circuit-board-and-arrows-tech-background-video-animation-hd-1920x1080_n6fpbciyx__F0003.png);
    background-size: cover;
}
.face {
    background-image: url(bright.png);
    background-size: cover;
}
.image {
   text-align: center;
}
h1 {
    font-family: monospace;
    font-size: 40px;
    color:black;
    text-align: center;
}
h2 {
    font-family: monospace;
    font-size: 20px;
    color:black
}
h3 {
    font-family: monospace;
    font-size: 35px;
    color: black;
}
h4 {
    font-family: monospace;
    font-size: 25px;
    color:black
}
h5 {
    column-width: auto;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    color:black
}
h6 {
    font-family: monospace;
    font-size: 20px;
    color:black;
}
ul {
    width: 40%;
    font-family: monospace;
    font-size: 20px;
}
