html {
    height:100;
    width: 100;
}
cover {
    background-image: url(https://freedesignfile.com/upload/2017/01/Light-blue-tech-background-vector-04.jpg);
    background-size: cover;
}
fingerprint {
    background-image: url(bluetech.png);
    background-size: cover;
}
voice {
    background-image: url(greytech.png);
    background-size: cover;
}
face {
    background-image: url(bright.png);
    background-size: cover;
}
image {
   text-align: center;
}
h1 {
    font-family: monospace;
    font-size: 40;
    text-align: center;
}
h2 {
    font-family: monospace;
    font-size: 20;
}
h3 {
    font-family: monospace;
    font-size: 35;
}
h4 {
    font-family: monospace;
    font-size: 25;
}
h5 {
    column-width: auto;
    text-align: center;
    font-family: monospace;
    font-size: 20;
}
h6 {
    font-family: monospace;
    font-size: 20;
}
ul {
    width: 40;
    font-family: monospace;
    font-size: 20;
}
